@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>You are on organizations main page. Navigate through the webpage with navbar on top of the site.</a>.</p>
</div>
