@model ProjektMAS.Models.Person

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input type="date" asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pesel" class="control-label"></label>
                <input asp-for="Pesel" class="form-control" />
                <span asp-validation-for="Pesel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonType" class="control-label"></label>
                <input asp-for="PersonType" class="form-control" />
                <span asp-validation-for="PersonType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skill" class="control-label"></label>
                <input asp-for="Skill" class="form-control" />
                <span asp-validation-for="Skill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenacity" class="control-label"></label>
                <input asp-for="Tenacity" class="form-control" />
                <span asp-validation-for="Tenacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lane" class="control-label"></label>
                <input asp-for="Lane" class="form-control" />
                <span asp-validation-for="Lane" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefereeCardID" class="control-label"></label>
                <input asp-for="RefereeCardID" class="form-control" />
                <span asp-validation-for="RefereeCardID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Income" class="control-label"></label>
                <input asp-for="Income" class="form-control" />
                <span asp-validation-for="Income" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speciality" class="control-label"></label>
                <input asp-for="Speciality" class="form-control" />
                <span asp-validation-for="Speciality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
